# Editor configuration, see https://editorcofig.org

root = true

[*]
charset =  utf-8
indent_style = space
indent_size =  2
insert_final_newline = true

[*.js]
quote_type = single

[*.md]
max_line_length = off
trim_trailing_whitespace = false